#!/usr/bin/make -f

#export DH_VERBOSE=1

%:
	dh $@

.PHONY: override_dh_auto_install
override_dh_auto_install:
	install -D -m644 ruhyphal.tex \
	    debian/hyphen-ru/usr/share/hyphen/hyph_ru_RU.dic

.PHONY: override_dh_installdocs
override_dh_installdocs:
	dh_installdocs debian/README.source

.PHONY: override_dh_installchangelogs
override_dh_installchangelogs:
	dh_installchangelogs debian/upstream.changelog
